@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-e {
    @apply text-ellipsis whitespace-nowrap overflow-hidden;
  }
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}
